#folders
.github
build
contracts
migrations
src
scripts
test
test-blockchain

#files
.babelrc
.commitlintrc.js
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.lintstagedrc.js
.nvmrc
.prettierrc
.soliumignore
.soliumrc.json
contractAddresses.json
truffle-config.js
tsconfig.json
yarn.lock

*.log
*.tgz