#folders
.circleci
artifacts
cache
contracts
deploy
src
test

#files
.commitlintrc.js
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.lintstagedrc.js
.mocharc.json
.nvmrc
.prettierrc
hardhat.config.ts
tsconfig.json
tsconfig.production.json
yarn.lock

*.log
*.tgz